<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Aria" value="https://msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Bond.*" />
    </packageSource>
    <packageSource key="Aria">
      <package pattern="Microsoft.Applications.Events.*" />
      <package pattern="Microsoft.Applications.Telemetry.*" />
      <package pattern="Microsoft.Aria.*" />
      <package pattern="Bond.*" />
    </packageSource>
  </packageSourceMapping>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
